.header {
	padding: 30px;
	text-align: center;
	background: #FFE4B5;
	font-family: "Montserrat Alternates", sans-serif;
  	font-style: normal;
}
.header h1 {
	font-size: 40px;
}
body {
	font-family: "Montserrat Alternates", sans-serif;
	padding: 10px;
	background: #CD853F;
}
.navigation {
	overflow: hidden;
	background-color: #696969;
}

.navigation a{
	float: left;
	display: block;
	padding: 15px 16px;
	text-align: center;
	color: white;
	text-decoration: none;

}
.main_part {
	padding: 0 10%;
}
.photo {
	width: 18%;
	padding: 1.11rem;
	margin: 0px 20px 1.5rem auto;
	float: left;
	background-color: #8B4513;
	font-style: italic;
	font-size: 19px;
}

p {
	font-size: 20px;
}
h2 {
	clear: left;
}

.footer {
	clear: left;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
	background-color: #696969;
	color: #FAEBD7;
}

